.formDiv {
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerText {
    font-size: 600%
}


.center2 {
    text-align: center
    
}
/* Below css formats the menu on all sites */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    }
                
li {
    display: block;
    display: inline-block;
    text-align: center; 
    }
                
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
                
    li a:hover {
    background-color: #111;
 }